body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: unset;
}

button {
  user-select: none;
  outline: 0;
}

.cur,
button.cur {
  cursor: pointer;
}

/* ---------------------- */
.pd-15 {
  padding: 15px;
}
.pdrl-15 {
  padding: 0 15px;
}
.pdrl-20 {
  padding: 0 15px;
}
/* ---------------------- */

/* ---------------------- */
:root {
  --dark-bg-color: black;
  --dark-font-color: white;
  --dark-toggle-bg-color: purple;
  --white-bg-color: white;
  --white-font-color: black;
  --white-toggle-bg-color: rgb(224, 221, 224);
}
