body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@font-face {
  font-family: "Caveat Bold";
  src: url(./static/Caveat-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Caveat Regular";
  src: url(./static/Caveat-Regular.woff2) format("woff2");
}
.cav-font_b {
  font-family: "Caveat Bold", cursive;
  /* font-family: "Caveat", cursive; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poor Story";
  src: url(./static/PoorStory-Regular.woff2) format("woff2");
}
.poor-font {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: unset;
}

button {
  user-select: none;
  outline: 0;
}

.cur,
button.cur {
  cursor: pointer;
}

/* ---------------------- */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-5 {
  margin-right: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.pdl-15 {
  padding-left: 15px;
}

.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pdt-30 {
  padding-top: 3rem;
}
.pdrl-15 {
  padding: 0 15px;
}
.pdr-55-l-15 {
  padding: 0 55px 0 15px;
}
.pdb-15 {
  padding-bottom: 15px;
}
.pdb-30 {
  padding-bottom: 3rem;
}

.pdb-40 {
  padding-bottom: 4rem;
}

.pdb-50 {
  padding-bottom: 5rem;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}

.position_a {
  position: absolute;
}
.position_r {
  position: relative;
}
.position_f {
  position: fixed;
}

.fs-1 {
  font-size: 1rem;
}
.fs-1_25 {
  font-size: 1.25rem;
}
.fs-1_5 {
  font-size: 1.5rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4 {
  font-size: 4rem;
}
.fs-5 {
  font-size: 5rem;
}

.fw-bold {
  font-weight: bold;
}

/* ---------------------- */

/* ---------------------- */
:root {
  --dark-bg-color: black;
  --dark-font-color: white;
  --dark-toggle-bg-color: purple;
  --dark-menu-bg-color: rgb(255, 255, 255, 0.6);
  --white-bg-color: white;
  --white-font-color: black;
  --white-toggle-bg-color: rgb(224, 221, 224);
  --white-menu-bg-color: rgb(255, 255, 255, 0.6);
  --gray-w-bg-color: rgba(233, 233, 233, 0.6);
  --gray-b-bg-color: rgba(10, 10, 10, 0.9);
  --dark--hd-bg-color: rgba(0, 0, 0, 0.6);
  --white--hd-bg-color: rgba(255, 255, 255, 0.6);
  --dark--per-color: rgba(0, 0, 0, 0.2);
  --white--per-color: rgba(255, 255, 255, 0.2);
}
/* ---------------------- */

/* ---------------------- */
.show-box {
  transition: all 0.3s ease;
  animation-name: showbox;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.hide-box {
  transition: all 0.3s ease;
  animation-name: hidebox;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ham-ani-1 {
  animation-name: hamani1;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.ham-ani-2 {
  animation-name: hamani2;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.ham-ani-none.none1 {
  animation-name: hamaninone1;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ham-ani-none.none2 {
  animation-name: hamaninone2;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.show-box_view {
  animation-name: showboxview;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.hide-box_view {
  animation-name: hideboxview;
  animation-delay: 0.4s;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.tiktok {
  margin: 0 3px;
  opacity: 0;
  animation-name: tik;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

.show-clock {
  animation-name: clockwrap;
  animation-delay: 0.4s;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.hide-clock {
  animation-name: clockwrapreturn;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.none-clock {
  top: 3%;
  left: 81.5%;
  width: 0%;
  height: 0%;
}
.clock-content-none {
  opacity: 0;
}
.clock-content-show {
  opacity: 0;
  animation-name: showbox;
  animation-delay: 0.8s;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.clock-content-hide {
  animation-name: hidebox;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.hide-data {
  opacity: 0 !important;
}

.under-line-about {
  animation-name: underlineabout;
  animation-delay: 1s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.under-line-project {
  animation-name: underlineproject;
  animation-delay: 1s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.under-line-contact {
  animation-name: underlinecontact;
  animation-delay: 1s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.view-project-list-wrap {
  animation-name: viewprojectlistwrap;
  animation-delay: 1.5s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.view-project-list-wrap2 {
  animation-name: viewprojectlistwrap2;
  animation-delay: 1.5s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.view-project-list {
  animation-name: viewprojectlist;
  animation-delay: 2s;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.star {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  filter: blur(1px);
}
/* .star-ani {
  animation-name: starrise;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.star-ani-d {
  animation-name: stardrop;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
} */
.per-ani {
  animation-name: perani;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes perani {
  0% {
    background-color: rgba(255, 0, 255, 0.4);
  }
  100% {
    background-color: rgba(255, 0, 255, 0.9);
  }
}

/* .project-card-action {
  
  animation-name: projectcard;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
} */
@keyframes projectcard {
  0% {
    border-radius: 0;
    /* position: relative; */
  }

  45% {
    border-radius: 0;
    /* position: relative; */
    /* background-color: gray; */
    height: 20vw;
    width: 20vw;
  }
  70% {
    border-radius: 100%;
    /* position: relative; */
    /* background-color: gray; */
    height: 20vw;
    width: 20vw;
  }
  100% {
    border-radius: 100%;
    /* position: relative; */
    /* background-color: gray; */
    height: 20vw;
    width: 20vw;
    /* position: fixed;
    z-index: 30;
    top: 25%;
    left: 35%;
     */
  }
}

@keyframes showbox {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 19;
  }
}
@keyframes hidebox {
  0% {
    opacity: 1;
    z-index: 19;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes showboxview {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 2;
  }
}
@keyframes hideboxview {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes hamani1 {
  0% {
    transform: none;
  }
  100% {
    transform: translate(0px, 245%) rotate(0.38turn);
  }
}
@keyframes hamani2 {
  0% {
    transform: none;
  }
  100% {
    transform: translate(0px, -200%) rotate(0.62turn);
  }
}
@keyframes hamaninone1 {
  0% {
    transform: translate(0px, 245%) rotate(0.38turn);
  }

  100% {
    transform: none;
  }
}

@keyframes hamaninone2 {
  0% {
    transform: translate(0px, -200%) rotate(0.62turn);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes showbox {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 19;
  }
}
@-webkit-keyframes hidebox {
  0% {
    opacity: 1;
    z-index: 19;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes hamani1 {
  0% {
    transform: none;
  }
  100% {
    transform: translate(0px, 245%) rotate(0.38turn);
  }
}
@-webkit-keyframes hamani2 {
  0% {
    transform: none;
  }
  100% {
    transform: translate(0px, -200%) rotate(0.62turn);
  }
}

@keyframes tik {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tik {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clockwrap {
  0% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
  40% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
    border-radius: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
  }
}
@-webkit-keyframes clockwrap {
  0% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
  40% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 0%;
    border-radius: 0px;
    left: 0%;
    z-index: 50;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
  }
}

@keyframes clockwrapreturn {
  0% {
    top: 0%;
    border-radius: 0px;
    left: 0%;
    z-index: 50;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
  }
  100% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
}
@-webkit-keyframes clockwrapreturn {
  0% {
    top: 0%;
    border-radius: 0px;
    left: 0%;
    z-index: 50;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
  }
  100% {
    top: 50%;
    left: 50%;
    border-radius: 50px;
    width: 0%;
    height: 0%;
  }
}

@keyframes underlineabout {
  0% {
    width: 0;
  }
  100% {
    width: 70vw;
  }
}
@-webkit-keyframes underlineabout {
  0% {
    width: 0;
  }
  100% {
    width: 70vw;
  }
}
@keyframes underlineproject {
  0% {
    width: 0;
  }
  100% {
    width: 85vw;
  }
}
@-webkit-keyframes underlineproject {
  0% {
    width: 0;
  }
  100% {
    width: 85vw;
  }
}
@keyframes underlinecontact {
  0% {
    width: 0;
  }
  100% {
    width: 82vw;
  }
}
@-webkit-keyframes underlinecontact {
  0% {
    width: 0;
  }
  100% {
    width: 82vw;
  }
}
@keyframes viewprojectlistwrap {
  0% {
    height: 0;
  }

  100% {
    height: calc(100vh - 50px);
  }
}
@media (max-width: 768px) {
  @keyframes viewprojectlistwrap {
    0% {
      height: 0;
    }

    100% {
      -webkit-overflow-scrolling: touch;
      height: calc(100vh - 62px);
    }
  }
}
@keyframes viewprojectlistwrap2 {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  @keyframes viewprojectlistwrap2 {
    0% {
      height: 0;
    }

    100% {
      -webkit-overflow-scrolling: touch;
      height: 100vh;
    }
  }
}
@keyframes viewprojectlist {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounsani {
  0% {
    top: -1vw;
  }
  100% {
    top: 0;
  }
}

/* ---------------------- */
